<button
  class="buttonForMultipleActions"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="commanderAvailable()">
    <mat-icon>dialpad</mat-icon>
    <span>Commander</span>
  </button>
  <button mat-menu-item (click)="graveyardAvailable()">
    <mat-icon>voicemail</mat-icon>
    <span>Graveyard</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<div class="footerContainer">
  <div class="commander"></div>
  <div class="bigCardcontainer">
    <!-- <div class="graveyardContainer"> -->
    <!-- <div class="graveyard"></div> -->
    <!-- </div> -->
    <div class="cardContainer">
      <ng-container *ngFor="let card of hand">
        <div
          class="example-box"
          cdkDrag
          [cdkDragFreeDragPosition]="dragPosition"
        >
          <img
            [src]="card.img"
            alt="Foto of the card {{ card.name }}"
            class="card"
          />
        </div>
      </ng-container>
      <app-library
        class="library"
        [deck]="library"
        (newCard)="onChangeHand($event)"
      ></app-library>
      <app-graveyard></app-graveyard>
    </div>
  </div>
</div>
